:root {
  /* Colors */
  --Tokens-Surface-Bleu: #0B23F4;
  --Tokens-Typographie-Orange: #F4320B;
  --Tokens-Typographie-Primary: #111111;
  --Tokens-Surface-Secondary: #F2F3FF;

  /* Basic Setup */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--Tokens-Typographie-Primary, #111);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default margin for body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--Tokens-Surface-Secondary, #F2F3FF);
}

/* Typography styles based on Design Tokens */

h1,
.h1 {
  color: var(--Tokens-Typographie-Primary, #111);
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  /* Optional: reset margins, or keep default browser margins depending on needs */
}

h2,
.h2 {
  color: var(--Tokens-Typographie-Primary, #111);
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

h3,
.h3 {
  color: var(--Tokens-Typographie-Primary, #111);
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

h4,
.h4 {
  color: var(--Tokens-Typographie-Primary, #111);
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

p,
.body-default {
  color: var(--Tokens-Typographie-Primary, #111);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}


.container {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1180px) {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-container .container {
    flex: 1;
    width: 100%;

    @media (max-width: 1180px) {
        width: calc(100% - 40px);
    }
}